{% extends 'dashboard/base_details.html' %}

{% block head_title %}{{user}}{% endblock head_title %}

{% block details %}
<div class="pt-8 pb-5 text-2xl font-bold">Credentials</div>
<div class="grid grid-cols-2 gap-x-8 gap-y-6">
  {{ object.username }}
</div>
<div class="pt-8 pb-5 text-2xl font-bold">Profile</div>
<div class="grid grid-cols-2 gap-x-8 gap-y-6">
  {{ object.first_name }}
  {{ object.last_name }}
  {{ object.email }}
  {{ object.phone }}
</div>
<div class="pt-8 pb-5 text-2xl font-bold">Facility</div>
{{ object.facility }}
<div class="pt-8 pb-5 text-2xl font-bold">Role</div>
{{ object.role }}
{% endblock details %}