{% extends 'dashboard/base_list.html' %}

{% block head_title %}Patients{% endblock head_title %}

{% block filters_form %}
<div class="bg-white rounded-xl p-6">
  <div class="flex flex-row gap-4">
    <div>
      <div class="text-sm text-slate-600 pb-2">Ward</div>
      {{filter.form.ward}}
    </div>
    <div>
      <div class="text-sm text-slate-600 pb-2">Facility</div>
      {{filter.form.facility}}
    </div>
    <div>
      <div class="text-sm text-slate-600 pb-2">Gender</div>
      {{filter.form.gender}}
    </div>
    <div>
      <div class="text-sm text-slate-600 pb-2">Ordering</div>
      {{filter.form.o}}
    </div>
  </div>
  <div class="p-2"></div>
  {% include 'generic/button.html' with label='Apply'%}
</div>
{% endblock filters_form %}

{% block list_content %}
<div class="grid grid-cols-2 gap-4">
  {% for object in object_list %}
  {% include './card.html' %}
  {% endfor %}
</div>
{% endblock list_content %}