{% extends './base.html' %}

{% block content %}
<div class="columns-2 gap-0">
  <div class="bg-slate-900 flex items-center justify-center min-h-screen text-white">
    <div class="max-w-md">
      <p class="font-bold text-6xl py-2">Arike</p>
      <p class="text-xl py-2">caters to a system of specialized medical staff tending to patients under palliative care.</p>
    </div>
  </div>
  <div class="bg-blue-200 flex items-center justify-center min-h-screen text-slate-900">
    <div class="text-2xl font-bold text-green-900">
      Already verified
    </div>
  </div>
</div>
{% endblock content %}