{% extends './base.html' %}

{% block inner %}
<div class="px-10 py-6">
  <div class="flex flex-row">
    <div class="flex-none text-3xl font-bold">{% block head_title %}Details Base{% endblock head_title %}</div>
    <div class="flex-1"></div>
    <div class="px-1">{% include 'generic/button.html' with label="Delete" onClick="location.href='delete'" %}</div>
    <div class="px-1">{% include 'generic/button.html' with label="Edit" onClick="location.href='edit'" %}</div>
  </div>
  {% block details %}
  <table>
    {% for label, value in object.get_fields %}
      <tr>
        <td>{{ label }}</td>
        <td>{{ value }}</td>
      </tr>
    {% endfor %}
  </table>
  {% endblock details %}  
</div>
{% endblock inner %}

