{% extends './base.html' %}

{% block inner %}
<div class="px-10 py-6">
  <div class="flex flex-row">
    <div class="flex-none text-3xl font-bold">{% block head_title %}List Base{% endblock head_title %}</div>
    <div class="flex-1"></div>
    {% include 'generic/button.html' with label="New" onClick="location.href='create'" %}
  </div>
  {% block search_and_filter_section %}
  <form action="" method="get">
    <div class="py-8">
      <div class="py-2 flex flex-row">
        <div class="p-1">
          {% include 'generic/search_bar.html' with label="Name" %}
        </div>
        <div class="flex-1"></div>
        <div class="p-1">
          {% include 'generic/expand_button.html' with label="Filters" %}
        </div>
        <div class="p-1">
          {% include 'generic/expand_button.html' with label="Sort" %}
        </div>
      </div>
      {% block filters_form %}{{ filter.form.as_p }}{% endblock filters_form %}
    </div>
  </form>
  {% endblock search_and_filter_section %}
  {% block list_content %}
  <div class="grid grid-cols-2 gap-4">
    {% for object in object_list %}
      {{object}}
    {% endfor %}
  </div>
  {% endblock list_content %}
</div>
{% endblock inner %}
