{% extends 'base.html' %}
{% block title %}{% block head_title %}Dashboard{% endblock head_title %} | Arike{% endblock title %}

{% block content %}
<div class="flex">
  <div class="flex-none min-h-screen container w-[300px] bg-white px-6 py-3">
    <div class="flex flex-col min-h-screen">
      <div class="flex-none font-bold text-2xl pt-2 pb-8 text-slate-800">Arike</div>
      {% for tab in dashboard_tabs %}
        {% if tab.url in request.path %}
          <button class="my-1 py-3 rounded-xl px-8 text-left text-white bg-slate-900 hover:bg-gray-800" onClick="location.href='{{tab.url}}'">{{tab.name}}</button>
        {% else %}
          <button class="my-1 py-3 rounded-xl px-8 text-left text-slate-900 bg-white hover:bg-slate-100" onClick="location.href='{{tab.url}}'">{{tab.name}}</button>
        {% endif %}
      {% endfor %}
      <div class="flex-1"></div>
      <div class="flex-none text-lg pb-12 text-slate-800">
        <div class="">{{user}}</div>
        <div><a href="/auth/logout" class="text-sm text-blue-700">Log out</a></div>
      </div>
    </div>
  </div>
  <div class="flex-1">
    {% block inner %}
    <div class="flex items-center justify-center min-h-screen bg-red-300">
      <div>No Tab Selected</div>
    </div>
    {% endblock inner %}
  </div>
</div>
{% endblock content %}