{% extends 'dashboard/base_details.html' %}

{% block head_title %}{{ object }}{% endblock head_title %}

{% block details %}
<div class="pt-8 pb-5 text-2xl font-bold">{{ object.kind }}</div>
<div class="flex flex-col gap-6">
  {% include 'generic/read_only_field.html' with key='Name' value=object.name %}
  {% include 'generic/read_only_field.html' with key='Address' value=object.address %}
  {% include 'generic/read_only_field.html' with key='Ward' value=object.ward %}
  <div class="grid grid-cols-2 gap-x-8 gap-y-6">
    {% include 'generic/read_only_field.html' with key='PIN Code' value=object.pincode %}
    {% include 'generic/read_only_field.html' with key='Phone Number' value=object.phone %}
  </div>
</div>
{% endblock details %}